.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 60rem;
  width: 117rem;
  background-color: #f0f0f0;
  padding: 1rem;
  gap: 1rem;
}

#new-notiz {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 8rem;
  border-radius: 0.5rem;
  background-color: #fc00a8;
  border: none;
  cursor: pointer;
}
.right-buttons {
  display: flex;
  gap: 1rem;
}
#save {
  cursor: pointer;
  background-color: #00fc00;
  border: none;
  border-radius: 0.5rem;
}
#delete {
  cursor: pointer;
  background-color: #fc0000;
  border: none;
  border-radius: 0.5rem;
}

.sidebar-links {
  border-right: 2px solid #5f5e5e;
  height: 100%;
  padding: 0 1rem;
}
.main-notizen {
  display: flex;
  flex-direction: column;
  width: 80rem;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 1rem;
  gap: 1rem;
}
#main-titel {
  width: 100%;
  height: 3rem;

  font-size: 1.5rem;
  font-weight: bold;
}
#main-text {
  width: 100%;
  height: 100%;

  font-size: 1rem;
  resize: none;
}
.note-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 0.5rem;
  cursor: pointer;
  align-items: flex-start;
  width: 10rem;
  height: 100%;
  background-color: #24d3ff;
  margin: 1rem;
}
