.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 60rem;
  width: 117rem;
  background-color: #f0f0f0;
  padding: 1rem;
  gap: 1rem;
}

#new-notiz {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 8rem;
  border-radius: 0.5rem;
  background-color: #fc00a8;
  border: none;
  cursor: pointer;
}
.right-buttons {
  display: flex;
  gap: 1rem;
}
#save {
  cursor: pointer;
  background-color: #00fc00;
  border: none;
  border-radius: 0.5rem;
}
#delete {
  cursor: pointer;
  background-color: #fc0000;
  border: none;
  border-radius: 0.5rem;
}

/* Entweder direkt als rechter Rahmen für die linke Spalte / Liste */
.sidebar-links {
  border-right: 2px solid #5f5e5e; /* Bestimmt Dicke und Farbe der Linie */
  height: 100%; /* Stellt sicher, dass die Linie die volle Höhe der Sidebar einnimmt */
  padding: 0 1rem; /* Optional: Abstand zwischen den Links und der Linie */
}
.main-notizen {
  display: flex;
  flex-direction: column;
  width: 80rem;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 1rem;
  gap: 1rem;
}
#main-titel {
  width: 100%;
  height: 3rem;

  font-size: 1.5rem;
  font-weight: bold;
}
#main-text {
  width: 100%;
  height: 100%;

  font-size: 1rem;
  resize: none; /* Verhindert das Ändern der Größe des Textbereichs */
}
